@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.firste{
    padding:10px;
    height: 5vh;
    width:100vw;
    min-height: 10vh;
    min-width: 20vh;
    
    background: blue;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin:5px  ;
    color: white;
    border-radius: 8px;
    border:2px solid red;
    display:inline-block;
    
}
ul{
    display:inline-flex;
    

}
li{
    list-style: none;
    inline-size: 100px;
    margin-inline: 5px;
}
.sect1{
    font-family: 'monospace',"DejaVu Sans Mono";
    font-size: 10vh;
    padding:12,23,34,56;


}
.one{
    display: block;
    height:200px;
    width: 400px;
    border:6px solid green;
}


.vide{
    display:flex;
    border-radius: 5vw;
     padding: 30px ;
    height: 50vh; 
    width:90vw;
    min-height:;
    object-fit:cover;
    

}
.text1{
    font-family: 'Josefin Sans', sans-serif;
    padding-left:20px;
    padding-top:40px;
}
.container1{
    display:grid;
    grid-gap: 2vw;
    background-color: #FFD700;
    align-items: center;
    min-width: none;
    min-height: none;
    width:100vw;


}
.video2{
    display:grid;
    height:50vh;
    weight:40vw;
    padding-left:10 ;
    border-radius: 3px;
    object-fit:cover;
    min-width: 10vw;

    border-radius: 3vw;

}
.p1{
    align-items:center;
    font-family: 'Josefin Sans';
    padding: 12px;
    font-size: 4vh;
    align:center;
}