@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.firste{
    padding:10px;
    height: 5vh;
    width:100vw;
    min-height: 10vh;
    min-width: 20vh;
    
    background: blue;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    margin:5px  ;
    color: white;
    border-radius: 8px;
    border:2px solid red;
    display:inline-block;
    
}
ul{
    display:inline-flex;
    

}
li{
    list-style: none;
    inline-size: 100px;
    margin-inline: 5px;
}
.sect1{
    font-family: 'monospace',"DejaVu Sans Mono";
    font-size: 10vh;
    padding:12,23,34,56;


}
.one{
    display: block;
    height:200px;
    width: 400px;
    border:6px solid green;
}


.vide{
    display:cover;
    border-radius: 10vw;
    padding:20px ;
    height: 60vh;
    width:90vw;

    min-height: 40vh;
    min-width:50vw;
    object-fit:contain;
    

}
.text1{
    font-family: 'Josefin Sans', sans-serif;
}