@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma-rtl.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;

}

section {
  height: 10vh;
  color: black;
  font-family: 'Russo One', sans-serif
  
}

section h1 {
  padding-top: 10vh;
  text-align: center;
  font-size: 80vh;
  font-family: 'Russo One', sans-serif;
}
section h5{
  padding-top: 4px;
  text-align: center;
  font-size: 50%;
  font-family: 'Russo One', sans-serif;
}
.scam{
  font-family:'Russo One', sans-serif;
  font-size:100%;

}
.scam h4{padding-top: 20%;
  text-align: center;
  font-size: 100%;
  font-family: 'Russo One', sans-serif;

}
.scam h6{
  text-align: center;

}
]
#ep2{
  height: 70%;
  width: 100%;
  padding-bottom:20px;
  
.

}
.embed-responsiveembed-responsive-21by9{
  height: 100px;
  width: 100px;
  padding-left: 80vh;
  padding-bottom: 20vh;
}
.ROll{
  padding-left: 30%;
  font-size:30px;
}
.kal{
  padding-left: 75%;
}
.kal2{
  padding-left: 25%;
  font-size: 74%;
  color:red;
}

