<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great</title>
    <style>
        
            img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: contain;
  
}

        
        body{
            margin:0;
            font-size: 1.4rem;
            font-family:cursive;
        }
      .audioplayer{
          position:fixed;
          bottom:0px;
          width:100%;
      }
      .wow{padding:10px;
      display: flex;
      flex-direction: column;
     
    }
      p{color:rgb(39, 39, 39);
        padding:10px;
        padding-left: 30px;
        text-decoration:none;
      }
      .inner{
          display: flex;
      }
      .btn{
          border:none;
          background-color: cornflowerblue;
          color: white;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 5px;
          border-radius: 12px;
          font-size: 2rem;
      }
      .btn:hover{
        background-color: rgb(87, 129, 207);
        cursor: pointer;
      }
      .card{
        padding: 20px;
        border-radius:10px ;
        background-color: rgb(247, 247, 248);
        margin: 10px;
      }
      .card:hover{
        background-color: aliceblue;
      }
      
        .text{
            font-size: 2rem;
            border-radius:3px;
border:none;
border-bottom: solid;
border-color:#0B5351;
transition: 0.3s;
outline:none;
        }
        .text:focus-within{
            border-color:rgb(104, 233, 147);
        }
        .search{
            padding:10px;
        }
    </style>
</head>

<body>
    <center>
    <form name="search" class="search" method="POST" action="search">
        <input type="text" class="text" name="searchtext">
        <input type="submit" class="btn" value="go"> 
    </form></center>
   <audio class="audioplayer" controls autoplay><source src="<%= video_url %>">
</source></audio>
<div class="wow">
  <% if (data_url.length == 0 ) { %>
    <center><p style="font-size: xx-large; padding-top: 100px;">Nothing here, Maybe search something!!!</p></center>
    <% } %>
    <% for(var gate in data_url){ %>
        <div class="card">
            <a class="inner" href="/audio/<%= data_url[gate].id %>">
            <img src="<%= data_url[gate].url %>"><p><%= data_url[gate].text %></p>
                </a>
            </div>
        
<% } %>
</div>
</body>
</html>